<script>
  export let status = 'Manual Check'
  // status can receive 'manual-check, approved, rejected, pending'

  import { createEventDispatcher, onMount } from 'svelte'

  onMount(() => {
  })



</script>

<div class="badge">
  <div class="main-box {status === 'Manual Check' ? 'manual-check' : status === 'Pending' ? 'pending' : status === 'Approved' ? 'approved' : status === 'Rejected' ? 'rejected' : ''}">
    <div class="circle {status === 'Manual Check' ? 'manual-circle-bgColor' : status === 'Pending' ? 'pending-circle-bgColor' : status === 'Approved' ? 'approved-circle-bgColor' : status === 'Rejected' ? 'rejected-circle-bgColor' : ''}"></div>
    <!-- <div class="circle approved-circle-bgColor"></div> -->
    <div class="status">{status}</div>
  </div>
</div>

<style>
  .badge {
    display: inline-block;
  }

  .main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 16px;
    padding: 2px 8px 2px 6px;
  }

  .circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  .status {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .manual-check {
    color: #4317BF;
    background-color: #D8CAFF;
  }

  .manual-circle-bgColor {
    background-color: #501BE6;
  }

  .pending {
    color: #884F05;
    background-color: #FDDDB3;
  }

  .pending-circle-bgColor {
    background-color: #E18308;
  }

  .rejected {
    color: #84251F;
    background-color: #FAC5C1;
  }

  .rejected-circle-bgColor {
    background-color: #DA3E33;
  }

  .approved {
    color: #00653F;
    background-color: #B0E9D3;
  }

  .approved-circle-bgColor {
    background-color: #00A768;
  }
</style>
